---
# Tasks for ansible-role-colima

- name: Ensure running on macOS
  ansible.builtin.assert:
    that: ansible_facts.system == 'Darwin'
    fail_msg: "This role only supports macOS (Darwin)."

- name: Install Homebrew packages for Colima and Docker
  community.general.homebrew:
    name: "{{ item }}"
    state: present
    update_homebrew: yes
  loop: "{{ colima_packages }}"
  #notify: restart colima

- name: Ensure Docker and colima config directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - .docker
    - .colima/default

- name: Write colima config file
  ansible.builtin.template:
    src: colima.yaml.j2
    dest: "{{ ansible_facts.env.HOME }}/.colima/default/colima.yaml"
    mode: '0644'
  #notify: restart colima

- name: Write Docker config.json with cliPluginsExtraDirs
  ansible.builtin.copy:
    dest: "{{ ansible_facts.env.HOME }}/.docker/config.json"
    content: |
      {
        "auths": {},
        "credsStore": "osxkeychain",
        "cliPluginsExtraDirs": [
          "/opt/homebrew/lib/docker/cli-plugins"
        ]
      }
    mode: '0644'
